body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    background: linear-gradient(to left,  #474A51,  black);
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 100px;
}
@font-face {
    font-family: 'Vampire Mansion Regular';
    src: url('/vampire-mansion.ttf') format('truetype');
  }
  .custom-font {
    display: flex;
    justify-content: center;
    font-family: 'Vampire Mansion Regular', cursive;
    font-size: 120px; 
    font-weight: bold;
    color: white; 
  }
.section-1 {
    background:  url('/e9_cwUJ38Ic.jpg') center/cover no-repeat;
}
.oval-button {
    background-color: white; 
    color: black;
    border: none; 
    padding: 30px 70px; 
    font-size: 30px;
    cursor: pointer; 
    border-radius: 50px; 
    transition: background-color 0.7s ease; 
  }
  
  .oval-button:hover {
    background:white;
  }
  
.section-2 {
    display: flex;
    flex-direction: column;
    background:  url('/4ef6a1038ecf315c02c4a219d2b28a0f.jpg') center/cover no-repeat;
    color: #b3b3d1;
    padding: 60px;
    margin: 70px;
    border-radius: 9%;
}
.oval-button {
    background-color: white; 
    color: black;
    border: none; 
    padding: 10px 30px; 
    font-size: 16px;
    cursor: pointer; 
    border-radius: 50px; 
    transition: background-color 0.3s ease; 
  }
  .oval-button:hover {
    background-color: white; 
  }

.section-3 {
    background: url(/maxresdefault.jpg);
    margin: 70px;
    display: flex;
    height: 500px;
    flex-direction: column;
    border-radius: 9%;
}
.oval-button {
    background-color: white; 
    color: black;
    border: none; 
    padding: 10px 30px; 
    font-size: 16px;
    cursor: pointer; 
    border-radius: 50px; 
    transition: background-color 0.3s ease; 
    margin: 50px;
  }
  .oval-button:hover {
    background-color: white; 
  }

.section-4 {
    background: url(/Fan\ of\ epic\ fantasy\ art!\ &\ Heavy.jpg) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    margin: 70px;
    border-radius: 9%;
}

.section-5 {
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 400px;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 800px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 1rem 0;
    text-align: center;
    z-index: 1000;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    transition: color 0.3s;
}

nav a:hover {
    color: #6441a5;
}
.link{ 
    color: white;
}
